html { background:#FFF url('../img/html-bg.png') repeat-x top left; }
body { color:#666; margin:0 auto; width:1072px; padding:0; position:relative; }
body,
th,
td,
tr { font-size:17px; font-family:arial,sans-serif !important }

h1,h2,h3,h4 { border-color:#ddd; border-style:dotted; border-width:0 0 1px; color:#83A501; letter-spacing:-.018em; font-weight:normal; display:inline-block; }

h1 { border-bottom:1px solid #DDD; font-size:30px; margin:3px 0 30px 0; padding-bottom:8px; }
h2 { font-size:24px; margin:24px 0; }
h3 { font-size:18px }
p { line-height:25px; }
hr { border:none; border-top:1px solid #ccb; margin:2em 0 }
address { font-style:normal }
img { border:none }

.underline { text-decoration:underline }

ol.loweralpha { list-style-type:lower-alpha }
ol.upperalpha { list-style-type:upper-alpha }
ol.lowerroman { list-style-type:lower-roman }
ol.upperroman { list-style-type:upper-roman }
ol.arabic { list-style-type:decimal }
ul li { line-height:25px; }

:link,:visited { border-bottom:0; color:#007dcc; text-decoration:underline; }
:link:hover,
:visited:hover { border-bottom:1px dotted #d7d7d7; background-color:inherit; text-decoration:none; }
h1 :link,
h1 :visited,
h2 :link,
h2 :visited,
h3 :link,
h3 :visited,
h4 :link,
h4 :visited,
h5 :link,
h5 :visited,
h6 :link,
h6 :visited { color:inherit }
.anchor:link,
.anchor:visited { border:none; color:#d7d7d7; font-size:.8em; vertical-align:text-top; text-decoration:none; }
* > .anchor:link,*
 > .anchor:visited { visibility:hidden }
h1:hover .anchor,
h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor { visibility:visible }

input,
select { vertical-align:middle }
input[type=button],
input[type=submit],
input[type=reset] { background-color:#517489; border:1px solid #334a57; color:#fff; padding:.1em .5em }
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover { background:#303030; border-color:#292929; color:#fff }
input[type=button][disabled],
input[type=submit][disabled],
input[type=reset][disabled] { background:#f6f6f6; border-style:solid; color:#999 }
input[type=text],
input.textwidget,
textarea { border:1px solid #8caabb; color:#111 }
input[type=text],
input.textwidget { background-color:#d5e1e7; padding:.2em .5em }
input[type=text]:focus,
input.textwidget:focus,
textarea:focus { border-color:#517489 }
option { border-bottom:1px dotted #d7d7d7 }
fieldset { border:1px solid #d7d7d7; margin:15px 0 0; padding:.5em }
fieldset.iefix { background:transparent; border:none; margin:0; padding:0 }
* html fieldset.iefix { width:98% }
legend { color:#999; font-size:90%; font-weight:700; padding:0 .25em }
label.disabled { color:#d7d7d7 }
.buttons { margin:.5em .5em .5em 0 }
.buttons form,
.buttons form div { display:inline }
.buttons input { margin:1em .5em .1em 0 }
.inlinebuttons input { background:none; border-style:dotted; border-width:1px; font-size:70%; margin:0; padding:.1em }
input[type=submit] { background-color:#517489 }

#header h1 { margin-top:0; padding-left:16px; padding-top:4px }
#header img { border:none; margin:0 0 -3em }
#header :link,
#header :visited,
#header :link:hover,
#header :visited:hover { background:transparent; border:none; color:#333; font-style:bold; margin-bottom:2px }

#topsearch input,
#topsearch input[type=button],
#topsearch input[type=submit],
#topsearch input[type=reset],
#topsearch input[type=text],
#topsearch input.textwidget { background-color:#333; border:1px solid #222; color:#333; font-size:12px; padding:2px; }
#topsearch input[type=text] { background-color:#222 }
#search input,
#search input[type=button],
#search input[type=submit],
#search input[type=reset],
#search input[type=text],
#search input.textwidget { background:#F4F4F4 url('../img/magnify-glass.png') no-repeat 10px 5px; border:1px solid #797979; color:#333; font-size:14px; padding:3px; padding-left:30px; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; width:240px; font-family:arial,sans-serif; box-shadow:inset 1px 2px 3px #CDCDCD; -moz-box-shadow:inset 1px 2px 3px #CDCDCD; -webkit-box-shadow:inset 1px 2px 3px #CDCDCD; }

.nav ul { list-style:none; margin:0; text-align:left; padding:0; }
.nav li { display:inline; margin:0; padding:0 .75em; white-space:nowrap; line-height:13.5px; }

#mainnav { background:#C0C0C0; border:0; font-family:arial,sans-serif; padding:13px 0; position:absolute; top:80px; left:0; width:100%; }
#mainnav li { border:none; margin-right:10px; line-height:15px; height:20px; }
#mainnav :link,
#mainnav :visited { border:none; font-size:14px; font-weight:bold; color:#333; text-decoration:none; }
* html #mainnav :link,
* html #mainnav :visited { background-position:1px 0 }
#mainnav :link:hover,
#mainnav :visited:hover { background:#676767; border-right:0; border-top:none; color:#bed73b; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
#mainnav .active :link,
#mainnav .active :visited { background:#444; border-top:none; color:#bed73b; border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; box-shadow:inset 2px 3px 4px #292929; -moz-box-shadow:inset 2px 3px 4px #292929; -webkit-box-shadow:inset 2px 3px 4px #292929; text-decoration:none; }
#ctxtnav { height:20px; margin-top:20px; }
#ctxtnav li ul { background:#f7f7f7; border:1px solid; color:#ccc; display:inline; margin:0; padding:0 }
#ctxtnav li li { padding:0 }
#ctxtnav li li :link,
#ctxtnav li li :visited { padding:0 1em }
#ctxtnav li li :link:hover,
#ctxtnav li li :visited:hover { background:#bba; color:#fff }
#ctxtnav :link,
#ctxtnav :visited { color:#555 }
#ctxtnav :link:hover,
#ctxtnav :visited:hover { color:#999 }

#altlinks { clear:both; text-align:center }
#altlinks h3 { font-size:12px; letter-spacing:normal; margin:0; border:0; display:inline; }
#altlinks ul { list-style:none; margin:0; padding:0 0 1em; display:inline; }
#altlinks li { border-right:1px solid #d7d7d7; display:inline; font-size:11px; line-height:16px; padding:0 1em; white-space:nowrap }
#altlinks li :link,
#altlinks li :visited { background-position:0 -1px; background-repeat:no-repeat; border:none; text-decoration:none; }
#altlinks li a.ics { background-image:url('../img/ics.png'); padding-left:22px }
#altlinks li a.rss { background-image:url('../img/xml.png'); padding-left:42px }

#pagepath a,
#ctxtnav a,
div.trac-modifiedby a { text-decoration:none; }

#footer { border-top:0 solid; clear:both; color:#bbb; font-size:10px; padding:50px 50px 0 }
#footer #tracpowered { border:0; float:left }
#footer #tracpowered:hover { background:transparent }
#footer p.left,
p.left2 { float:left; margin-left:1em; padding:0 1em }
#footer p.left { border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7 }
#footer p.left2 { color:#666 }
#footer p.right { float:right; text-align:right }

#content { position:static }

#help { clear:both; color:#999; font-size:90%; margin:1em; text-align:right }
#help :link,
#help :visited { cursor:help }

#prefs { background:#edf9c0; border:1px solid #bce715; float:right; font-size:9px; margin:0 1em 1em; padding:.8em; position:relative }
* html #prefs { width:26em }
#prefs input,
#prefs select { font-size:9px; vertical-align:middle }
#prefs fieldset { background:transparent; border:none; margin:.5em; padding:0 }
#prefs fieldset legend { background:transparent; color:#111; font-size:9px; font-weight:400; margin:0 0 0 -1.5em; padding:0 }
#prefs .buttons { text-align:right }

#info { background:#f7f7f0; border:1px solid #d7d7d7; border-collapse:collapse; border-spacing:0; clear:both; margin:1em 0 0; width:100% }
#info th,
#info td { font-size:85%; padding:2px .5em; vertical-align:top }
#info th { font-weight:700; text-align:left; white-space:nowrap }
#info td.message { width:100% }
#info .message ul { margin:0 2em; padding:0 }

.wikipage { margin:0; padding-left:0 }
.wikipage h1,
.wikipage h2,
.wikipage h3 { margin-left:0; }

a.missing:link,
a.missing:visited,
span.missing { color:#998 }
a.missing:link,
a.missing:visited { background:#fafaf0 }
a.closed:link,
a.closed:visited { text-decoration:line-through }
dl.compact dt { float:left; padding-right:.5em }

div.code,
pre.wiki,
pre.literal-block { background:#e2f1f8; border-style:solid; border-width:1px 0; margin:30px; overflow:auto; padding:10px }
blockquote.citation { border-color:#b44; border-style:solid; border-width:0 0 0 2px; margin:-.6em 0; padding-left:.5em }
.citation blockquote.citation { border-color:#4b4 }
.citation .citation blockquote.citation { border-color:#44b }
.citation .citation .citation blockquote.citation { border-color:#c55 }

table.wiki { border:2px solid #ccc; border-collapse:collapse; border-spacing:0 }
table.wiki td { border:1px solid #ccc; padding:.1em .25em }
.wikitoolbar { border:solid #d7d7d7; border-width:1px 1px 1px 0; height:18px; width:208px }
.wikitoolbar :link,
.wikitoolbar :visited { border:1px solid #fff; border-left-color:#d7d7d7; cursor:default; display:block; float:left; height:16px; width:24px }
.wikitoolbar :link:hover,
.wikitoolbar :visited:hover { background-color:transparent; border:1px solid #fb2 }
.wikitoolbar a#em { background-position:0 0 }
.wikitoolbar a#strong { background-position:0 -16px }
.wikitoolbar a#heading { background-position:0 -32px }
.wikitoolbar a#link { background-position:0 -48px }
.wikitoolbar a#code { background-position:0 -64px }
.wikitoolbar a#hr { background-position:0 -80px }
.wikitoolbar a#np { background-position:0 -96px }
.wikitoolbar a#br { background-position:0 -112px }

#attachment .field { margin-top:1.3em }
#attachment label { padding-left:.2em }
#attachment fieldset { margin-top:2em }
#attachment fieldset .field { float:left; margin:0 1em .5em 0 }
#attachment .options { float:left; padding:0 0 1em 1em }
#attachment br { clear:left }
.attachment #preview { margin-top:1em }
#attachments { border:1px outset #996; padding:1em }
#attachments .attachments { margin-left:2em; padding:0 }
#attachments dt { display:list-item; list-style:square }
#attachments dd { font-style:italic; margin-left:0; padding-left:0 }

table.listing { border-bottom:1px solid #d7d7d7; border-collapse:collapse; border-spacing:0; clear:both; margin-top:1em; width:100% }
table.listing th { font-size:12px; padding:0 1em .1em 0; text-align:left }
table.listing thead { background:#f7f7f0 }
table.listing thead th { border:1px solid #d7d7d7; border-bottom-color:#999; font-size:11px; font-weight:700; padding:2px .5em; vertical-align:bottom }
table.listing thead th a { border:none; padding-right:12px; }
table.listing th.asc a,
table.listing th.desc a { background-position:100% 50%; background-repeat:no-repeat; font-weight:700 }
table.listing th.asc a { background-image:url('../img/asc.png') }
table.listing th.desc a { background-image:url('../img/desc.png') }
table.listing tbody td,
table.listing tbody th { border:1px dotted #ddd; padding:.33em .5em; vertical-align:top }
table.listing tbody tr { border-top:1px solid #ddd }
table.listing tbody tr.even { background-color:#fcfcfc }
table.listing tbody tr.odd { background-color:#f7f7f7 }
table.listing tbody tr:hover { background:#eed!important }

#content.error .message,
div.system-message { background:#fdc; border:2px solid #d00; color:#500; margin:1em 0; padding:.5em }
#content.error pre,
div.system-message pre { margin-left:1em; overflow:auto }
#notice.system-message { background-color:#FFF765 }

#tab { background-image:'url(../img/tab.png)'; background-repeat:no-repeat; color:#fff; float:right; height:32px; margin:-2px 50px 0 0; text-align:center; width:282px }
#tab :link,#tab :visited { background:transparent; border:none; color:#fff; font-size:12px; padding:4px }
#tab :link:hover,#tab :visited:hover { border-color:#a4cd0d; border-style:solid; border-width:0 0 1px }

#siteheader { background:#111; display:none; height:40px; margin:0; padding:0 }

#banner { height:80px; margin:0; padding:0; position:relative; }

#header { float:left; height:53px; width:1072px; background:url('../img/logo.png') no-repeat top left; margin-top:10px }
#header a { display:none }

#metanav { height:28px; padding:2px; position:absolute; top:0; right:0; }
#metanav :link,
#metanav :visited { color:#83A501; text-decoration:none; }
#metanav ul li.first { color:#ccc }

#side_bar { background-color:#fff; float:right; padding:0 0 0 15px }

#download_top { background-image:url(../img/dld_top.png); height:145px; width:273px }
#download_bottom { background-image:url(../img/dld_bottom.png); height:91px; width:273px }
#download { background-image:url(../img/dld_back.png); background-repeat:repeat-y; padding:0 10px 0 20px; width:243px }
#download_old { background-image:url(../img/download.png); background-repeat:no-repeat; height:284px; margin:0; padding:0 0 0 19px; width:269px }
#download :link,
#download :visited,
#download :link:hover,
#download :visited:hover { background:transparent; border:none; color:#9ac300; font-size:12px }
#donate { height:284px; margin:0; padding:0 0 0 19px; width:269px }

#tabcontent form { width:65% }
input,
textarea,
select,
fieldset.iefix p,
#footer p,
div.system-message p { margin:0 }

#header h1 :link:hover,
#header h1 :visited:hover,
a.missing:hover { color:#111 }
.nav li.last,
#altlinks li.last { border-right:none; padding-right:0; }
#footer :link,
#footer :visited,
#metanav :link:hover,
#metanav :visited:hover { color:inherit }
#info .message p,
dl.compact dd { margin:0; padding:0 }
dl.wiki dt,
div.system-message p.system-message-title { font-weight:700 }

table.listing thead th :link:hover,
table.listing thead th :visited:hover,
table.listing tbody td a:hover,
table.listing tbody th a:hover { background-color:transparent }

#main { position:relative; margin-top:68px; }
div.trac-modifiedby { position:absolute; top:-4px; right:0; font-size:10px; font-style:normal; }

#search { position:absolute; bottom:-48px; right:0; z-index:2; }
#search input[type="submit"] { display:none; }

#wikipage { margin-top:16px; }

div.wiki-toc { background:#FFF; border:0; padding:0; margin:0; margin-left:40px; }
div.wiki-toc li { line-height:30px; }
div.wiki-toc h4 { display:none; }
div.wiki-toc a { font-size:16px; color:#333; text-decoration:none; border-bottom:1px solid #BBB; padding:2px; }
div.wiki-toc a:hover { color:#000; }
div.wiki-toc .active { background:inherit; font-weight:bold; }

@media screen  {
  a.ext-link .icon { padding-left:16px }
  * html a.ext-link .icon { display:inline-block }
  .searchword0 { background:#ff9 }
  .searchword1 { background:#cfc }
  .searchword2 { background:#cff }
  .searchword3 { background:#ccf }
  .searchword4 { background:#fcf }
}
@media print  {
  form.printableform { display:block }
  #header,#altlinks,#footer,#help,.nav,form,.buttons form,form .buttons { display:none }
}