<h1>Network</h1>

<div class="box" id="organisms"></div>
<div class="box" id="consequences"></div>
<div class="box" id="legend">
    <p><span>Fig.2</span>To they four in love. Settling you has separate supplied bed.
        Concluded resembled suspected his resources curiosity joy.
        Led all cottage met enabled attempt through talking delight.</p>
</div>
<div class="box" id="heatmap"></div>

<div id="graph"></div>