<h2>Variations &times; Individuals</h2>
<table>
    <thead>
        <tr>
            <th></th>
            {{ #population }}
                <th>{{ i }}</th>
            {{ /population }}
        </tr>
    </thead>
    <tbody>
        {{ #individuals }}
            <tr>
                <th>{{ gene }}</th>
                {{ #expressions }}
                    <td><span class="square{{ #expressed }} full{{ /expressed }}"></span></td>
                {{ /expressions }}
            </tr>
        {{ /individuals }}
    </tbody>
</table>