// functions.
gradient(a, b)
    background: a
    background: -moz-linear-gradient(top, a 0%, b 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,a), color-stop(100%,b))
    background: -webkit-linear-gradient(top, a 0%, b 100%)
    background: -o-linear-gradient(top, a 0%, b 100%)
    background: -ms-linear-gradient(top, a 0%, b 100%)
    background: linear-gradient(to bottom, a 0%, b 100%)

corners(a)
    -webkit-border-radius: a
    -moz-border-radius: a
    border-radius: a

// Sphinx layout.
@import url("basic.css")

// Fonts.
@font-face {
    font-family: 'Droid Sans'
    font-style: normal
    font-weight: 400
    src: local('Droid Sans'), local('DroidSans'), url('../fonts/DroidSans.woff') format('woff');
}
@font-face {
    font-family: 'Source Code Pro'
    font-style: normal
    font-weight: 400
    src: local('Source Code Pro'), local('SourceCodePro'), url('../fonts/SourceCodePro.woff') format('woff');
}

html
    background: url('../img/pattern-2.jpg') repeat 0 0

body
    font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, Arial, 'Lucida Grande', sans-serif
    font-size: 15px
    line-height: 150%
    text-align: center
    color: #595455
    padding: 0
    //margin: 0px 80px 0px 80px
    margin: 0
    min-width: 740px
    //-moz-box-shadow: 0px 0px 10px #93a1a1
    //-webkit-box-shadow: 0px 0px 10px #93a1a1
    //box-shadow: 0px 0px 10px #93a1a1

a em
    font-style: normal

form
    input
        border: 1px solid #E0DDDD !important
        font-size: 12px !important
        padding: 4px
        corners 3px

        &[type="text"]
            width: 150px !important

        &[type="submit"]
            gradient #f9f9f9, #f6f6f6
            shadow 0px 1px 2px 0px, rgba(0,0,0,.1)
            padding: 4px 10px
            color: #999
            text-shadow: 1px 1px 0px #FFF
            cursor: pointer
            width: auto !important

div.document
    text-align: left
    background: #FFF

div.bodywrapper
    margin: 0 240px 0 0

div.body
    background-color: white
    margin: 0
    padding: 0 60px 20px 20px

div.related
    font-size: 1em
    background: #829B02 url('../img/pattern-1.jpg') repeat 0 0
    color: #FFF
    padding: 5px 0px
    border-bottom: 1px solid #596A02

    ul
        height: 2em
        margin: 2px
        background: url('../img/logo.png') no-repeat 20px 4px
        padding-left: 50px

        li
            margin: 0
            padding: 0
            height: 2em
            float: left

            &.right a
                color: #f2fbc3

            a
                margin: 0
                padding: 2px 5px
                line-height: 2em
                text-decoration: none
                color: #FFF

                // &:hover
                //     background-color: rgba(0,0,0,0.15)
                //     -webkit-border-radius: 2px
                //     -moz-border-radius: 2px
                //     border-radius: 2px

        &.right
            float: right
            margin-right: 5px

div.sphinxsidebarwrapper
    padding: 0

div.sphinxsidebar
    margin: 0
    padding: 0.5em 15px 15px 0
    width: 210px
    float: right
    font-size: 0.9em
    text-align: left

    h3, h4
        font-size: 18px
        margin: 10px 0

        &:first-child
            margin-top: 36px

        &:not(:first-child)
            margin-top: 26px

    h3 a, h4 a
        text-decoration: none
        color: #073642

    ul
        padding-left: 1.5em
        margin: 0
        padding: 0
        line-height: 150%
        color: #586e75

        ul
            margin-left: 20px

    p.topless
        margin: 0

    #searchbox
        margin-top: 30px

        p
            display: none

div.footer
    background: url('../img/pattern-2.jpg') repeat 0 0
    //border-top: 1px solid #353A37
    color: #eee
    padding: 3px 8px 3px 0
    clear: both
    font-size: 0.8em
    text-align: right

    a
        color: #eee
        text-decoration: none

p    
    margin: 0.8em 0 0.5em 0

div.body a, div.sphinxsidebarwrapper a
    color: #6b7f01

h1, h2, h3, h4, h5, h6
    font-family: Calibri, "Droid Sans"
    font-weight: 300

h1
    margin: 0
    padding: 0.7em 0 0.3em 0
    line-height: 44px
    color: #231F20
    font-size: 34px

h2
    margin: 1.3em 0 0.2em 0
    padding: 0 0 10px 0
    color: #595455
    border-bottom: 1px solid #eee

h3
    margin: 1em 0 -0.3em 0
    padding-bottom: 5px

h3, h4, h5, h6
    color: #073642
    border-bottom: 1px dotted #eee

dt
    font-weight: bold

div.body h1 a
    color: #231F20 !important

div.body h2 a, div.body h3 a, div.body h4 a, div.body h5 a, div.body h6 a
    color: #595455 !important

div.body h3 a
    color: #073642 !important

h1 a.anchor, h2 a.anchor, h3 a.anchor, h4 a.anchor, h5 a.anchor, h6 a.anchor
    display: none
    margin: 0 0 0 0.3em
    padding: 0 0.2em 0 0.2em
    color: #AAA !important

h1:hover a.anchor, h2:hover a.anchor, h3:hover a.anchor, h4:hover a.anchor,
h5:hover a.anchor, h6:hover a.anchor
    display: inline

h1 a.anchor:hover, h2 a.anchor:hover, h3 a.anchor:hover, h4 a.anchor:hover,
h5 a.anchor:hover, h6 a.anchor:hover
    color: #777
    background-color: #eee

a.headerlink
    color: #c60f0f !important
    font-size: 1em
    margin-left: 6px
    padding: 0 4px 0 4px
    text-decoration: none !important

    &:hover
        background-color: #ccc
        color: white !important

cite, code, tt
    font-family: 'Source Code Pro', monospace
    font-size: 0.9em
    letter-spacing: 0.01em
    background-color: #eeeff2
    font-style: normal

hr
    border: 1px solid #eee
    margin: 2em

.highlight
    -webkit-border-radius: 2px
    -moz-border-radius: 2px
    border-radius: 2px

pre
    font-family: 'Source Code Pro', monospace
    font-style: normal
    font-size: 0.9em
    letter-spacing: 0.015em
    line-height: 120%
    padding: 0.7em
    white-space: pre-wrap       /* css-3 */
    white-space: -moz-pre-wrap  /* Mozilla, since 1999 */
    white-space: -pre-wrap      /* Opera 4-6 */
    white-space: -o-pre-wrap    /* Opera 7 */
    word-wrap: break-word       /* Internet Explorer 5.5+ */

    a
        color: inherit
        text-decoration: underline

td.linenos pre
    padding: 0.5em 0

div.quotebar
    background-color: #f8f8f8
    max-width: 250px
    float: right
    padding: 2px 7px
    border: 1px solid #ccc

div.topic
    background-color: #f8f8f8

table
    border-collapse: collapse
    margin: 0 -0.5em 0 -0.5em


    td, th
        padding: 0.2em 0.5em 0.2em 0.5em

div.admonition
    font-size: 0.9em
    margin: 1em 0 1em 0
    border: 1px solid #eee
    background-color: #f7f7f7
    padding: 0
    -moz-box-shadow: 0px 8px 6px -8px #93a1a1
    -webkit-box-shadow: 0px 8px 6px -8px #93a1a1
    box-shadow: 0px 8px 6px -8px #93a1a1

    p
        margin: 0.5em 1em 0.5em 1em
        padding: 0.2em


    pre
        margin: 0.4em 1em 0.4em 1em


    p.admonition-title
        margin: 0
        padding: 0.2em 0 0.2em 0.6em
        color: white
        border-bottom: 1px solid #eee8d5
        font-weight: bold
        background-color: #268bd2

    ul, ol
        margin: 0.1em 0.5em 0.5em 3em
        padding: 0

div.warning p.admonition-title,
div.important p.admonition-title
    background-color: #cb4b16

div.hint p.admonition-title,
div.tip p.admonition-title
    background-color: #859900

div.caution p.admonition-title,
div.attention p.admonition-title,
div.danger p.admonition-title,
div.error p.admonition-title
    background-color: #dc322f

div.versioninfo
    margin: 1em 0 0 0
    border: 1px solid #eee
    background-color: #DDEAF0
    padding: 8px
    line-height: 1.3em
    font-size: 0.9em

div.viewcode-block:target
    background-color: #f4debf
    border-top: 1px solid #eee
    border-bottom: 1px solid #eee