@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
    url('vendor/fonts/SourceSansPro-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
    url('vendor/fonts/SourceSansPro-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url('vendor/fonts/SourceSansPro-Bold.woff') format('woff');
}

body {
    width: 1000px;
    height: 500px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    font-family: "Source Sans Pro";
}

#graph .link {
    stroke: #999;
    stroke-opacity: .6;
    cursor: pointer;
}

#graph .link.active {
    stroke: #000;
    stroke-opacity: 1;
}

#graph .label {
    fill: #000;
    stroke-width: 0;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: bold;
}

#graph .node {
    cursor: pointer;
}

#graph .circle {
    fill: #FFF;
}

.box {
    position: absolute;
    border: 1px solid #999;
    padding: 10px;
    display: none;
    margin: 20px;
    width: 250px;
}

#organisms {
    top: 0;
    left: 0;
}

#organisms .tree {
    height: 200px;
}

#organisms .name {
  font-size: 12px;
}

#organisms circle {
    opacity: 0;
}

#organisms circle.supported {
    opacity: 1;
}

#organisms circle.unsupported {
    opacity: 1;
    fill: rgba(153,153,153,0.5);
}

#organisms .about {
  fill: #777;
  font-size: smaller;
}

#organisms .link {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#consequences {
    top: 0;
    right: 0;
}

#consequences table td:not(:last-child) {
    padding-right: 10px;
}

#legend {
    bottom: 0;
    left: 0;
    display: block;
    font-family: Arial;
}

#legend p span {
    background: #000;
    color: #FFF;
    padding: 2px 4px;
    margin-right: 5px;
}

#heatmap {
    bottom: 0;
    right: 0;
    display: block;
}

#heatmap table td {
    border: 1px solid #FFF;
    text-align: center;
}

#heatmap table thead th {
    text-align: center;
    font-weight: normal;
    font-size: 10px;
    margin-bottom: 5px;
}

#heatmap table tbody th {
    text-align: left;
    font-weight: normal;
    padding-right: 5px;
}

h1 {
    margin: 10px 0 0 0;
    text-align: center;
}

h2, h3 {
    margin: 0 0 10px 0;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

p {
    margin: 0;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

table {
    width: 100%;
}

.circle {
    border-radius: 50%;
    width: 8px;
    height: 8px;
    display: inline-block;
    border:1px solid #000;
}

.square {
    background: rgba(153,153,153,0.25);
    width: 10px;
    display: inline-block;
    height: 100%;
    color: #FFF;
}

.square.full {
    background: #000;
}