@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Sans Pro'), local('SourceSansPro-Regular'),
    url('vendor/fonts/SourceSansPro-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 600;
    src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'),
    url('vendor/fonts/SourceSansPro-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url('vendor/fonts/SourceSansPro-Bold.woff') format('woff');
}

body {
    width: 1000px;
    height: 500px;
    border: 1px solid #000;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    font-family: "Source Sans Pro";
}

#graph .link {
    stroke: #999;
    stroke-opacity: .6;
    cursor: pointer;
}

#graph .link.active {
    stroke: #000;
    stroke-opacity: 1;
}

#graph .label {
    fill: #000;
    stroke-width: 0;
    font-family: "Source Sans Pro";
    font-size: 15px;
    font-weight: bold;
}

#graph .node {
    cursor: pointer;
}

#consequences {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid grey;
    padding: 10px;
    display: none;
    margin: 20px;
}