@import url(http://fonts.googleapis.com/css?family=Lato:400,700)


gradient(a, b)
    background: a
    background: -moz-linear-gradient(top, a 0%, b 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,a), color-stop(100%,b))
    background: -webkit-linear-gradient(top, a 0%, b 100%)
    background: -o-linear-gradient(top, a 0%, b 100%)
    background: -ms-linear-gradient(top, a 0%, b 100%)
    background: linear-gradient(to bottom, a 0%, b 100%)

corners(a)
    -webkit-border-radius: a;
    -moz-border-radius: a;
    border-radius: a;

shadow(a, b)
    -webkit-box-shadow: a b;
    -moz-box-shadow: a b;
    box-shadow: a b;


#background
    background: url('../../psd/8d.png') no-repeat top left
    height: 1151px
    width: 969px
    margin:0 auto

#content
    position: absolute
    top: 300px
    left: 0
    width: 100%

    .row
        margin: 0 auto
        width: 970px

header#top
    color: #FFF
    border-top: 3px solid #4c7370
    gradient #639793, #577d7a

    h1, h2
        margin: 20px 0

    h1
        font-family: "Lato"
        font-weight: 800
        font-size: 23px
        text-transform: uppercase
        float: left
        letter-spacing: 1px
        margin-right: 6px

    h2
        font-family: "Georgia"
        font-weight: 200
        font-size: 24px

        &:before
            content: "|"
            display: inline-block
            font-weight: 800
            margin-right: 6px

        span
            font-style: italic
            margin-right: 2px

    nav
        background: #334d4b
        position: relative

        ul
            list-style-type: none
            margin: 0 0 0 20px

            li
                display: inline-block
                margin: 9px 10px
                font-family: "Lato"
                font-size: 16px

                &:not(:last-child):after
                    content: "|"
                    display: inline-block
                    color: #395b69
                    margin-left: 22px

                &.active
                    font-weight: 800

                a
                    color: #FFF
                    line-height: 25px
                    height: 25px
                    display: inline-block

                    &.people
                        background: url('../img/mini-flags.png') no-repeat top right
                        padding-right: 46px

        a.contact
            font-family: "Lato"
            font-size: 14px
            font-weight: 800
            color: #FFF
            background: #192625
            text-transform: uppercase
            position: absolute
            top: 9px
            right: 9px
            padding: 6px 14px
            corners 3px

#callout
    margin: 0 auto
    margin-top: 14px
    color: #FFF
    width: 879px
    padding: 13px
    font-family: "Lato"
    position: relative
    shadow 0 0 3px 3px, rgba(0,0,0,.05)

    h1, h2
        font-weight: 400
        position: absolute
        margin: 0
        left: 45px

    h1
        font-size: 26px
        letter-spacing: -1px
        top: 38px

    h2
        font-size: 16px
        top: 69px