@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/LatoBold.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/LatoRegular.woff') format('woff');
}

body, html
    height: 100%

body
    margin: 0
    background: transparent
    -webkit-font-smoothing: antialiased

body, h1, h2, h3, h4, p, li
    font-family: Lato

.row
    width: auto

div#wrapper
    width: 100%
    min-width: 1000px
    min-height: 100%

header#top
    width: 100%

    .inner
        margin: 0 auto
        padding: 10px

    h1
        margin: 0
        padding: 0
        font-size: 20px
        font-weight: normal
        display: inline-block

    .account
        margin-top: 4px

        span
            display: inline-block
            margin: 0 4px
            font-size: 8px
            height: 5px
            margin-bottom: 4px

section#middle
    width: 100%
    padding: 0 0 100px
    height: 100%
    position: relative

    &:after
        content: '.'
        display: block
        clear: both
        visibility: hidden
        height: 0

    div#landing
        width: 1000px

        h2
            font-size: 20px

        ul
            list-style-type: none

    aside#sidebar
        float: left
        width: 250px
        margin-left: -100%
        position: relative

        .wrap
            height: 100%
            position: relative
            padding: 10px 0

        ul
            list-style-type: none
            margin: 0 0 0 10px
            padding: 0

            li
                background-repeat: no-repeat
                background-position: 0 3px

    div#widget
        width: 100%
        float: left
        overflow: hidden
        min-height: 100%

        h1
            font-size: 22px

        .wrap
            padding: 0 0 0 250px

        .half
            float: left
            width: 50%

div#workflow
    position: absolute
    bottom: 0
    left: 250px // width of the sidebar
    height: 50% // take up half the screen
    background: #F6FAFB

    h1
        font-size: 22px

footer
    position: fixed
    bottom: 0
    left: 0

    &#wide
        width: 100%

        p
            text-align: center

    &#bottom
        width: 250px

        p
            font-style: italic
            padding: 0px 10px
            margin: 0 0 10px 0
            line-height: 1.3

        ul
            list-style-type: none
            margin: 0 0 0 10px

            li
                background-repeat: no-repeat
                background-position: 0 3px

                a
                    margin-left: 25px  

        div#history
            margin-top: 20px
            padding: 20px 10px

.button
    display: inline-block
    padding: 6px 30px
    text-decoration: none
    position: relative
    line-height: 1

    &:active
        top: 1px