@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url('../fonts/LatoBold.woff') format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url('../fonts/LatoRegular.woff') format('woff');
}

body, html
    height: 100%

body
    margin: 0
    background: transparent
    -webkit-font-smoothing: antialiased

    > div
        height: 100%

body, h1, h2, h3, h4, p, li
    font-family: Lato

.row
    width: auto

div#wrapper
    width: 100%
    min-width: 1000px
    min-height: 100%

header#top
    width: 100%

    .inner
        margin: 0 auto
        padding: 10px

    h1
        margin: 0
        padding: 0
        font-size: 20px
        font-weight: normal
        display: inline-block

    .account
        margin-top: 4px

        span
            display: inline-block
            margin: 0 4px
            font-size: 8px
            height: 5px
            margin-bottom: 4px

section#middle
    width: 100%
    padding: 0 0 100px
    height: 100%
    position: relative

    &:after
        content: '.'
        display: block
        clear: both
        visibility: hidden
        height: 0

    div#landing
        width: 1000px

        h2
            font-size: 20px

        ul
            list-style-type: none

    aside
        position: absolute
        top: 0
        width: 250px

        &#left
            left: 0

        &#right
            right: 0

        .wrap
            height: 100%
            position: relative
            padding: 10px 0

        a
            cursor: pointer

        h3
            font-size: 16px
            margin: 10px

        ul
            list-style-type: none
            margin: 0 10px
            padding: 0

            li
                background-repeat: no-repeat
                background-position: 0 3px

    div#widget
        width: 100%
        float: left
        overflow: hidden
        min-height: 100%

        h1
            font-size: 22px

        .wrap
            padding: 0 0 0 250px // no space for right sidebar

        .wrap.sidebar
            padding: 0 250px // make space for both sidebars

        .half
            float: left
            width: 50%

div#history
    position: absolute
    bottom: 0
    left: 250px // width of the sidebar
    height: 50% // take up half the screen
    display: none

    h1
        font-size: 22px

    ul#steps
        overflow-x: hidden
        margin: 0
        padding: 0

        li.step
            display: inline-block
            margin: 5px 20px
            position: relative
            width: 146px

            &.orange .box
                background: #FDDDA0

                // .io.output .circle
                //     border-color: #FDDDA0

            &.green .box
                background: #BBE19C

                // .io.output .circle
                //     border-color: #BBE19C

            em.ago
                float: right
                font-size: 11px

            // .io
            //     position: absolute

            //     span
            //         text-align: right
            //         font-size: 11px

            //     &.input
            //         top: 50px
            //         left: -25px
            //         height: 60px
            //         width: 40px

            //         .circle
            //             right: 5px
            //             border-color: #F6FAFB

            //     &.output
            //         top: 50px
            //         right: -25px
            //         cursor: pointer
            //         z-index: 999

            //         .circle
            //             left: -15px

            //     .relative
            //         position: relative

            //     .circle
            //         border-radius: 20px
            //         border: solid 10px #CEF2FB
            //         width: 20px
            //         height: 20px
            //         position: absolute

            .box
                background: #CEF2FB
                padding: 10px 20px
                margin-top: 10px

                h3
                    font-size: 16px
                    margin: 0

                p
                    margin: 0

footer
    position: fixed
    bottom: 0
    left: 0

    &#wide
        width: 100%

        p
            text-align: center

    &#bottom
        width: 250px

        .wrap
            margin-top: 20px
            padding: 20px 10px

.button
    display: inline-block
    padding: 6px 30px
    text-decoration: none
    position: relative
    line-height: 1

    &:active
        top: 1px