<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/"
      py:strip="">
  <?python from genshi.builder import tag ?>

  <div py:def="navigation(category)" id="${category}" class="nav">
    <ul py:if="chrome.nav[category]">
      <li py:for="idx, item in  enumerate(chrome.nav[category])"
          class="${classes(first_last(idx, chrome.nav[category]), active=item.active)}">${item.label}</li>
    </ul>
  </div>

  <body py:match="body">
    <div id="center-content" class="box">
      <!--! Header -->
      <div id="header">

          <!--! Trac login -->
          ${navigation('metanav')}

          <!--! Logotyp -->
          <div id="logo" py:choose="">
            <p>${project.name}</p>
          </div>

          <div class="contacts vcard">
            T:<span class="tel">+44 (0)1223 760 262</span>
            E:<a class="email" href="mailto:info@intermine.org">info@intermine.org</a>
          </div>

      </div> <!--! /header -->
      
      <!--! Main menu (tabs, search) -->
       <div id="theme-mainnav" class="noprint" py:with="category = 'mainnav'">

          <!--! Search -->
          <div id="theme-search" class="noprint" py:if="'SEARCH_VIEW' in perm">
              <form action="${href.search()}" method="get">
                  <fieldset><legend>Search</legend>
                      <label>
                          <span id="search-input-out">
                              <input type="text" name="q" id="search-input" size="30" accesskey="f" />
                          </span>
                      </label>
                      <input type="hidden" name="wiki" value="on" />
                      <input type="hidden" name="changeset" value="on" />
                      <input type="hidden" name="ticket" value="on" />
                  </fieldset>
              </form>
          </div> <!--! /search -->

          <ul class="box" py:if="chrome.nav[category]">
              <li py:for="idx, item in  enumerate(chrome.nav[category])"
                  class="${classes(first_last(idx, chrome.nav[category]), active=item.active)}">
                <py:choose test="">
                  <py:when test="item.label.__class__.__name__ == 'Element' and item.label.tag.localname == 'a'">
                    ${item.label(tag.span('', class_='tab-l'), tag.span('', class_='tab-r'))}
                  </py:when>
                  <py:otherwise>
                    ${item.label}
                  </py:otherwise>
                </py:choose>
              </li>
          </ul>

       </div> <!--! /tabs, search -->
       
       <!-- Page (2 columns) -->
       <div id="page" class="box">
         <div id="page-in" class="box">
           <div id="strip" class="box noprint">
             
             <div id="ctxtnav" class="nav">
                 <ul>
                   <li py:for="i, elm in enumerate(chrome.ctxtnav)" class="${i == 0 and 'first ' or None}${i+1 == len(chrome.ctxtnav) and 'last' or None}">$elm</li>
                 </ul>
             </div>

            <div id="warning" py:if="req and req.warnings" class="system-message">
              <py:choose test="len(req.warnings)">
                <py:when test="1">
                  <strong>Warning:</strong> ${req.warnings[0]}
                </py:when>
                <py:otherwise>
                  <strong>Warnings:</strong>
                  <ul><li py:for="w in req.warnings">$w</li></ul>
                </py:otherwise>
              </py:choose>
            </div>
            
          </div> <!--! /strip -->

          <div id="main">
            ${select('*[@id!="ctxtnav"]|text()')}
          </div> <!--! /main -->
        </div> <!--! /page-in -->
      </div> <!--! /page -->

      <div id="footer" xml:lang="en">
        <a id="tracpowered" href="http://trac.edgewall.org/"><img
          src="${href.chrome('common/trac_logo_mini.png')}" height="30"
          width="107" alt="Trac Powered"/></a>
        <p class="left">
          Powered by <a href="${href.about()}"><strong>Trac ${trac.version}</strong></a><br />
          By <a href="http://www.edgewall.org/">Edgewall Software</a>.
        </p>
        <footer class="vcard">
            <span class="org">InterMine, Systems Biology Centre</span>,
            <div class="adr">
                <span class="street-address">Tennis Court Road</span>,
                <span class="locality">Cambridge</span>
                <span class="postal-code">CB2 1QR</span>,
                <span class="country-name">UK</span>
            </div>
        </footer>
        <p class="right">${chrome.footer}</p>
      </div>
    </div>
  </body>

  <xi:include href="site.html"><xi:fallback /></xi:include>

</html>
